.main{
    text-align: center; 
}
 
.body{
    margin-top: 60px;
   
}



.abc{
    width: 150px;
    height:60px;
    background-color: rgb(33, 39, 97);
    z-index: 1;
    font-size: large;
    font-style: bold;
    border-radius: 20px;
}

.icon{
    width: 50px;
    height:50px;
    z-index: 1;
    
}

.com{
    width: 180px;
    height: 55px;
    z-index: 1;
    font-style: bold;
    background-color:skyblue;
    border-radius: 20px;    
}